
* {margin: 0;
padding: 0;}

html { font-size: 62.5%;
box-sizing: border-box;
scroll-behavior: smooth;}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: red;

}
.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-list a{
    display: block;
    font-size: 2rem;
    padding: 2rem;
    color: white; 
    text-decoration: none; 
}

.nav-list a:hover { 
    background-color: violet;
}
#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
  background-image: linear-gradient(60deg, #7d8185 0%, #070707 100%);
}

h1 { font-size: 3rem;}