* {
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
}

figure {
    margin: 1rem;
}

figcaption {
    text-align: center;
    color:  #FFE807;
    font-family: 'Days One';
    font-size: 30px;
}